.col {
  flex: 1 0 0%;
}

.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.img-logo {
  width: 35%;
}

@media (min-width: 480px) {
    .col-sm {
      flex: 1 0 0%;
    }

    .img-logo {
      width: 60%;
    }
  
    .row-cols-sm-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-sm-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-sm-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-sm-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-sm-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-sm-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-sm-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-sm-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-sm-1 {
      flex: 0 0 auto;
      width: 8.3333333333%;
    }
  
    .col-sm-2 {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-sm-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-sm-4 {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .col-sm-5 {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
  
    .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-sm-7 {
      flex: 0 0 auto;
      width: 58.3333333333%;
    }
  
    .col-sm-8 {
      flex: 0 0 auto;
      width: 66.6666666667%;
    }
  
    .col-sm-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-sm-10 {
      flex: 0 0 auto;
      width: 83.3333333333%;
    }
  
    .col-sm-11 {
      flex: 0 0 auto;
      width: 91.6666666667%;
    }
  
    .col-sm-12 {
      flex: 0 0 auto;
      width: 100%;
    }
    .m-sm-0 {
        margin: 0 !important;
      }
    
      .m-sm-1 {
        margin: 0.25rem !important;
      }
    
      .m-sm-2 {
        margin: 0.5rem !important;
      }
    
      .m-sm-3 {
        margin: 1rem !important;
      }
    
      .m-sm-4 {
        margin: 1.5rem !important;
      }
    
      .m-sm-5 {
        margin: 3rem !important;
      }
    
      .m-sm-auto {
        margin: auto !important;
      }
    
      .mx-sm-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
    
      .mx-sm-1 {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
      }
    
      .mx-sm-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
      }
    
      .mx-sm-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
      }
    
      .mx-sm-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
      }
    
      .mx-sm-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important;
      }
    
      .mx-sm-auto {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    
      .my-sm-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    
      .my-sm-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
      }
    
      .my-sm-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
      }
    
      .my-sm-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
      }
    
      .my-sm-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
      }
    
      .my-sm-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
      }
    
      .my-sm-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
      }
    
      .mt-sm-0 {
        margin-top: 0 !important;
      }
    
      .mt-sm-1 {
        margin-top: 0.25rem !important;
      }
    
      .mt-sm-2 {
        margin-top: 0.5rem !important;
      }
    
      .mt-sm-3 {
        margin-top: 1rem !important;
      }
    
      .mt-sm-4 {
        margin-top: 1.5rem !important;
      }
    
      .mt-sm-5 {
        margin-top: 3rem !important;
      }
    
      .mt-sm-auto {
        margin-top: auto !important;
      }
    
      .me-sm-0 {
        margin-right: 0 !important;
      }
    
      .me-sm-1 {
        margin-right: 0.25rem !important;
      }
    
      .me-sm-2 {
        margin-right: 0.5rem !important;
      }
    
      .me-sm-3 {
        margin-right: 1rem !important;
      }
    
      .me-sm-4 {
        margin-right: 1.5rem !important;
      }
    
      .me-sm-5 {
        margin-right: 3rem !important;
      }
    
      .me-sm-auto {
        margin-right: auto !important;
      }
    
      .mb-sm-0 {
        margin-bottom: 0 !important;
      }
    
      .mb-sm-1 {
        margin-bottom: 0.25rem !important;
      }
    
      .mb-sm-2 {
        margin-bottom: 0.5rem !important;
      }
    
      .mb-sm-3 {
        margin-bottom: 1rem !important;
      }
    
      .mb-sm-4 {
        margin-bottom: 1.5rem !important;
      }
    
      .mb-sm-5 {
        margin-bottom: 3rem !important;
      }
    
      .mb-sm-auto {
        margin-bottom: auto !important;
      }
    
      .ms-sm-0 {
        margin-left: 0 !important;
      }
    
      .ms-sm-1 {
        margin-left: 0.25rem !important;
      }
    
      .ms-sm-2 {
        margin-left: 0.5rem !important;
      }
    
      .ms-sm-3 {
        margin-left: 1rem !important;
      }
    
      .ms-sm-4 {
        margin-left: 1.5rem !important;
      }
    
      .ms-sm-5 {
        margin-left: 3rem !important;
      }
    
      .ms-sm-auto {
        margin-left: auto !important;
      }
    
      .p-sm-0 {
        padding: 0 !important;
      }
    
      .p-sm-1 {
        padding: 0.25rem !important;
      }
    
      .p-sm-2 {
        padding: 0.5rem !important;
      }
    
      .p-sm-3 {
        padding: 1rem !important;
      }
    
      .p-sm-4 {
        padding: 1.5rem !important;
      }
    
      .p-sm-5 {
        padding: 3rem !important;
      }
    
      .px-sm-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    
      .px-sm-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
      }
    
      .px-sm-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
      }
    
      .px-sm-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    
      .px-sm-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
      }
    
      .px-sm-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
      }
    
      .py-sm-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    
      .py-sm-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
      }
    
      .py-sm-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
      }
    
      .py-sm-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
      }
    
      .py-sm-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
      }
    
      .py-sm-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
      }
    
      .pt-sm-0 {
        padding-top: 0 !important;
      }
    
      .pt-sm-1 {
        padding-top: 0.25rem !important;
      }
    
      .pt-sm-2 {
        padding-top: 0.5rem !important;
      }
    
      .pt-sm-3 {
        padding-top: 1rem !important;
      }
    
      .pt-sm-4 {
        padding-top: 1.5rem !important;
      }
    
      .pt-sm-5 {
        padding-top: 3rem !important;
      }
    
      .pe-sm-0 {
        padding-right: 0 !important;
      }
    
      .pe-sm-1 {
        padding-right: 0.25rem !important;
      }
    
      .pe-sm-2 {
        padding-right: 0.5rem !important;
      }
    
      .pe-sm-3 {
        padding-right: 1rem !important;
      }
    
      .pe-sm-4 {
        padding-right: 1.5rem !important;
      }
    
      .pe-sm-5 {
        padding-right: 3rem !important;
      }
    
      .pb-sm-0 {
        padding-bottom: 0 !important;
      }
    
      .pb-sm-1 {
        padding-bottom: 0.25rem !important;
      }
    
      .pb-sm-2 {
        padding-bottom: 0.5rem !important;
      }
    
      .pb-sm-3 {
        padding-bottom: 1rem !important;
      }
    
      .pb-sm-4 {
        padding-bottom: 1.5rem !important;
      }
    
      .pb-sm-5 {
        padding-bottom: 3rem !important;
      }
    
      .ps-sm-0 {
        padding-left: 0 !important;
      }
    
      .ps-sm-1 {
        padding-left: 0.25rem !important;
      }
    
      .ps-sm-2 {
        padding-left: 0.5rem !important;
      }
    
      .ps-sm-3 {
        padding-left: 1rem !important;
      }
    
      .ps-sm-4 {
        padding-left: 1.5rem !important;
      }
    
      .ps-sm-5 {
        padding-left: 3rem !important;
      }
}

@media (min-width: 768px) {

  .img-logo {
    width: 100%;
  }

    .col-md {
      flex: 1 0 0%;
    }
  
    .row-cols-md-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-md-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-md-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-md-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-md-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-md-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-md-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-md-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-md-1 {
      flex: 0 0 auto;
      width: 8.3333333333%;
    }
  
    .col-md-2 {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-md-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-md-4 {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .col-md-5 {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
  
    .col-md-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-md-7 {
      flex: 0 0 auto;
      width: 58.3333333333%;
    }
  
    .col-md-8 {
      flex: 0 0 auto;
      width: 66.6666666667%;
    }
  
    .col-md-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-md-10 {
      flex: 0 0 auto;
      width: 83.3333333333%;
    }
  
    .col-md-11 {
      flex: 0 0 auto;
      width: 91.6666666667%;
    }
  
    .col-md-12 {
      flex: 0 0 auto;
      width: 100%;
    }

    .m-md-0 {
        margin: 0 !important;
      }
    
      .m-md-1 {
        margin: 0.25rem !important;
      }
    
      .m-md-2 {
        margin: 0.5rem !important;
      }
    
      .m-md-3 {
        margin: 1rem !important;
      }
    
      .m-md-4 {
        margin: 1.5rem !important;
      }
    
      .m-md-5 {
        margin: 3rem !important;
      }
    
      .m-md-auto {
        margin: auto !important;
      }
    
      .mx-md-0 {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
    
      .mx-md-1 {
        margin-right: 0.25rem !important;
        margin-left: 0.25rem !important;
      }
    
      .mx-md-2 {
        margin-right: 0.5rem !important;
        margin-left: 0.5rem !important;
      }
    
      .mx-md-3 {
        margin-right: 1rem !important;
        margin-left: 1rem !important;
      }
    
      .mx-md-4 {
        margin-right: 1.5rem !important;
        margin-left: 1.5rem !important;
      }
    
      .mx-md-5 {
        margin-right: 3rem !important;
        margin-left: 3rem !important;
      }
    
      .mx-md-auto {
        margin-right: auto !important;
        margin-left: auto !important;
      }
    
      .my-md-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    
      .my-md-1 {
        margin-top: 0.25rem !important;
        margin-bottom: 0.25rem !important;
      }
    
      .my-md-2 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
      }
    
      .my-md-3 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
      }
    
      .my-md-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
      }
    
      .my-md-5 {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
      }
    
      .my-md-auto {
        margin-top: auto !important;
        margin-bottom: auto !important;
      }
    
      .mt-md-0 {
        margin-top: 0 !important;
      }
    
      .mt-md-1 {
        margin-top: 0.25rem !important;
      }
    
      .mt-md-2 {
        margin-top: 0.5rem !important;
      }
    
      .mt-md-3 {
        margin-top: 1rem !important;
      }
    
      .mt-md-4 {
        margin-top: 1.5rem !important;
      }
    
      .mt-md-5 {
        margin-top: 3rem !important;
      }
    
      .mt-md-auto {
        margin-top: auto !important;
      }
    
      .me-md-0 {
        margin-right: 0 !important;
      }
    
      .me-md-1 {
        margin-right: 0.25rem !important;
      }
    
      .me-md-2 {
        margin-right: 0.5rem !important;
      }
    
      .me-md-3 {
        margin-right: 1rem !important;
      }
    
      .me-md-4 {
        margin-right: 1.5rem !important;
      }
    
      .me-md-5 {
        margin-right: 3rem !important;
      }
    
      .me-md-auto {
        margin-right: auto !important;
      }
    
      .mb-md-0 {
        margin-bottom: 0 !important;
      }
    
      .mb-md-1 {
        margin-bottom: 0.25rem !important;
      }
    
      .mb-md-2 {
        margin-bottom: 0.5rem !important;
      }
    
      .mb-md-3 {
        margin-bottom: 1rem !important;
      }
    
      .mb-md-4 {
        margin-bottom: 1.5rem !important;
      }
    
      .mb-md-5 {
        margin-bottom: 3rem !important;
      }
    
      .mb-md-auto {
        margin-bottom: auto !important;
      }
    
      .ms-md-0 {
        margin-left: 0 !important;
      }
    
      .ms-md-1 {
        margin-left: 0.25rem !important;
      }
    
      .ms-md-2 {
        margin-left: 0.5rem !important;
      }
    
      .ms-md-3 {
        margin-left: 1rem !important;
      }
    
      .ms-md-4 {
        margin-left: 1.5rem !important;
      }
    
      .ms-md-5 {
        margin-left: 3rem !important;
      }
    
      .ms-md-auto {
        margin-left: auto !important;
      }
    
      .p-md-0 {
        padding: 0 !important;
      }
    
      .p-md-1 {
        padding: 0.25rem !important;
      }
    
      .p-md-2 {
        padding: 0.5rem !important;
      }
    
      .p-md-3 {
        padding: 1rem !important;
      }
    
      .p-md-4 {
        padding: 1.5rem !important;
      }
    
      .p-md-5 {
        padding: 3rem !important;
      }
    
      .px-md-0 {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
    
      .px-md-1 {
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
      }
    
      .px-md-2 {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
      }
    
      .px-md-3 {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
      }
    
      .px-md-4 {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
      }
    
      .px-md-5 {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
      }
    
      .py-md-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    
      .py-md-1 {
        padding-top: 0.25rem !important;
        padding-bottom: 0.25rem !important;
      }
    
      .py-md-2 {
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
      }
    
      .py-md-3 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
      }
    
      .py-md-4 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
      }
    
      .py-md-5 {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
      }
    
      .pt-md-0 {
        padding-top: 0 !important;
      }
    
      .pt-md-1 {
        padding-top: 0.25rem !important;
      }
    
      .pt-md-2 {
        padding-top: 0.5rem !important;
      }
    
      .pt-md-3 {
        padding-top: 1rem !important;
      }
    
      .pt-md-4 {
        padding-top: 1.5rem !important;
      }
    
      .pt-md-5 {
        padding-top: 3rem !important;
      }
    
      .pe-md-0 {
        padding-right: 0 !important;
      }
    
      .pe-md-1 {
        padding-right: 0.25rem !important;
      }
    
      .pe-md-2 {
        padding-right: 0.5rem !important;
      }
    
      .pe-md-3 {
        padding-right: 1rem !important;
      }
    
      .pe-md-4 {
        padding-right: 1.5rem !important;
      }
    
      .pe-md-5 {
        padding-right: 3rem !important;
      }
    
      .pb-md-0 {
        padding-bottom: 0 !important;
      }
    
      .pb-md-1 {
        padding-bottom: 0.25rem !important;
      }
    
      .pb-md-2 {
        padding-bottom: 0.5rem !important;
      }
    
      .pb-md-3 {
        padding-bottom: 1rem !important;
      }
    
      .pb-md-4 {
        padding-bottom: 1.5rem !important;
      }
    
      .pb-md-5 {
        padding-bottom: 3rem !important;
      }
    
      .ps-md-0 {
        padding-left: 0 !important;
      }
    
      .ps-md-1 {
        padding-left: 0.25rem !important;
      }
    
      .ps-md-2 {
        padding-left: 0.5rem !important;
      }
    
      .ps-md-3 {
        padding-left: 1rem !important;
      }
    
      .ps-md-4 {
        padding-left: 1.5rem !important;
      }
    
      .ps-md-5 {
        padding-left: 3rem !important;
      }
}

@media (min-width: 992px) {
    .col-lg {
      flex: 1 0 0%;
    }
  
    .row-cols-lg-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-lg-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-lg-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-lg-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-lg-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-lg-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-lg-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-lg-1 {
      flex: 0 0 auto;
      width: 8.3333333333%;
    }
  
    .col-lg-2 {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .col-lg-5 {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
  
    .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-lg-7 {
      flex: 0 0 auto;
      width: 58.3333333333%;
    }
  
    .col-lg-8 {
      flex: 0 0 auto;
      width: 66.6666666667%;
    }
  
    .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-lg-10 {
      flex: 0 0 auto;
      width: 83.3333333333%;
    }
  
    .col-lg-11 {
      flex: 0 0 auto;
      width: 91.6666666667%;
    }
  
    .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
    }

}

@media (min-width: 1200px) {
    .col-xl {
      flex: 1 0 0%;
    }
  
    .row-cols-xl-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
  
    .row-cols-xl-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
  
    .row-cols-xl-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .row-cols-xl-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .row-cols-xl-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .row-cols-xl-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
  
    .row-cols-xl-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-xl-auto {
      flex: 0 0 auto;
      width: auto;
    }
  
    .col-xl-1 {
      flex: 0 0 auto;
      width: 8.3333333333%;
    }
  
    .col-xl-2 {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
  
    .col-xl-3 {
      flex: 0 0 auto;
      width: 25%;
    }
  
    .col-xl-4 {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
  
    .col-xl-5 {
      flex: 0 0 auto;
      width: 41.6666666667%;
    }
  
    .col-xl-6 {
      flex: 0 0 auto;
      width: 50%;
    }
  
    .col-xl-7 {
      flex: 0 0 auto;
      width: 58.3333333333%;
    }
  
    .col-xl-8 {
      flex: 0 0 auto;
      width: 66.6666666667%;
    }
  
    .col-xl-9 {
      flex: 0 0 auto;
      width: 75%;
    }
  
    .col-xl-10 {
      flex: 0 0 auto;
      width: 83.3333333333%;
    }
  
    .col-xl-11 {
      flex: 0 0 auto;
      width: 91.6666666667%;
    }
  
    .col-xl-12 {
      flex: 0 0 auto;
      width: 100%;
    }
}  