@font-face {
    font-family: "ProximaNova";
    src: url("ProximaNova-Regular.otf");
}

html, body {
    font-family: "ProximaNova" !important;
    background-color: #E0E0E6;
}

.h-principal {
    height: 90vh;
}

li.active  {
    background: #F6F6FA;
    border: 0px !important;
}

li  {
    border: 0px !important;
}

li:hover a:hover  {
    background: transparent;
    border: 0px !important;
    text-decoration: none;
}

li a {
    color: #747474;
}

li.active a {
    background: #F6F6FA !important;
    border: 0px !important;
    color:#40BAFF !important;
}

li.active object svg {
    background: #F6F6FA !important;
    border: 0px !important;
    fill:#40BAFF !important;
}

li object svg {
  background: #F6F6FA !important;
  border: 0px !important;
  fill: #747474!important;
}

.align-content-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
/* Sidebar */
.sidebar {
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
  }
  
  @media (max-width: 991.98px) {
    .sidebar {
      width: 100%;
    }
  }
  .sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

/* TEXTS */

.title {
    font-weight: 600 ;
    font-size: 28px !important;
    line-height: 34px;
}

.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 19px !important;
    line-height: 25px;
}

.text-login {
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 37px;
}

.text-normal {
    font-weight: normal;
    font-size: 16px !important;
    line-height: 24px;
}

.text-note {
    font-style: normal;
    font-weight: normal;
    font-size: 12px !important;
    line-height: 19px;
}

.logo-text {
    font-weight: 600;
    font-size: 17px !important;
    line-height: 50px;
}

.text-shadow-none {
    text-shadow: none !important;
}



.text-driver-btn {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  
  /* Gris 2 */
  
  color: #56627A;
}

/* COLORS */
.color-principal {
    color: #40BAFF !important;
}

.bg-color-principal {
    background: #40BAFF !important;
}

.white {
    color: white !important;
}

.bg-white {
    background: white !important;
}

.light-gray {
    color: #F6F6FA
}

.bg-light-gray {
    background: #F6F6FA;
}

.gray {
    color: #56627A;
}

.bg-gray {
    background: #56627A;
}


.h-100vh {
  height: 100vh;
}



/* MARGINS y PADDINGS */
.m-auto {
  margin: auto;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.m-0 {
    margin: 0 !important;
  }
  
  .m-1 {
    margin: 0.25rem !important;
  }
  
  .m-2 {
    margin: 0.5rem !important;
  }
  
  .m-3 {
    margin: 1rem !important;
  }
  
  .m-4 {
    margin: 1.5rem !important;
  }
  
  .m-5 {
    margin: 3rem !important;
  }
  
  .m-auto {
    margin: auto !important;
  }
  
  .mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  
  .mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
  }
  
  .mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }
  
  .mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
  }
  
  .mx-4 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
  }
  
  .mx-5 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
  }
  
  .mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  
  .my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
  }
  
  .my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  
  .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  
  .my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .mt-1 {
    margin-top: 0.25rem !important;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .mt-4 {
    margin-top: 1.5rem !important;
  }
  
  .mt-5 {
    margin-top: 3rem !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
  
  .me-0 {
    margin-right: 0 !important;
  }
  
  .me-1 {
    margin-right: 0.25rem !important;
  }
  
  .me-2 {
    margin-right: 0.5rem !important;
  }
  
  .me-3 {
    margin-right: 1rem !important;
  }
  
  .me-4 {
    margin-right: 1.5rem !important;
  }
  
  .me-5 {
    margin-right: 3rem !important;
  }
  
  .me-auto {
    margin-right: auto !important;
  }
  
  .mb-0 {
    margin-bottom: 0 !important;
  }
  
  .mb-1 {
    margin-bottom: 0.25rem !important;
  }
  
  .mb-2 {
    margin-bottom: 0.5rem !important;
  }
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .mb-5 {
    margin-bottom: 3rem !important;
  }
  
  .mb-auto {
    margin-bottom: auto !important;
  }
  
  .ms-0 {
    margin-left: 0 !important;
  }
  
  .ms-1 {
    margin-left: 0.25rem !important;
  }
  
  .ms-2 {
    margin-left: 0.5rem !important;
  }
  
  .ms-3 {
    margin-left: 1rem !important;
  }
  
  .ms-4 {
    margin-left: 1.5rem !important;
  }
  
  .ms-5 {
    margin-left: 3rem !important;
  }
  
  .ms-auto {
    margin-left: auto !important;
  }
  
  .p-0 {
    padding: 0 !important;
  }
  
  .p-1 {
    padding: 0.25rem !important;
  }
  
  .p-2 {
    padding: 0.5rem !important;
  }
  
  .p-3 {
    padding: 1rem !important;
  }
  
  .p-4 {
    padding: 1.5rem !important;
  }
  
  .p-4-5 {
    padding: 2.5rem !important;
  }

  .p-5 {
    padding: 3rem !important;
  }
  
  .px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .px-1 {
    padding-right: 0.25rem !important;
    padding-left: 0.25rem !important;
  }
  
  .px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
  
  .px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  
  .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  
  .px-4-5 {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
  }

  .px-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
  
  .py-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  
  .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  
  .py-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  
  .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
  
  .pt-0 {
    padding-top: 0 !important;
  }
  
  .pt-1 {
    padding-top: 0.25rem !important;
  }
  
  .pt-2 {
    padding-top: 0.5rem !important;
  }
  
  .pt-3 {
    padding-top: 1rem !important;
  }
  
  .pt-4 {
    padding-top: 1.5rem !important;
  }
  
  .pt-5 {
    padding-top: 3rem !important;
  }
  
  .pe-0 {
    padding-right: 0 !important;
  }
  
  .pe-1 {
    padding-right: 0.25rem !important;
  }
  
  .pe-2 {
    padding-right: 0.5rem !important;
  }
  
  .pe-3 {
    padding-right: 1rem !important;
  }
  
  .pe-4 {
    padding-right: 1.5rem !important;
  }
  
  .pe-5 {
    padding-right: 3rem !important;
  }
  
  .pb-0 {
    padding-bottom: 0 !important;
  }
  
  .pb-1 {
    padding-bottom: 0.25rem !important;
  }
  
  .pb-2 {
    padding-bottom: 0.5rem !important;
  }
  
  .pb-3 {
    padding-bottom: 1rem !important;
  }
  
  .pb-4 {
    padding-bottom: 1.5rem !important;
  }
  
  .pb-5 {
    padding-bottom: 3rem !important;
  }
  
  .ps-0 {
    padding-left: 0 !important;
  }
  
  .ps-1 {
    padding-left: 0.25rem !important;
  }
  
  .ps-2 {
    padding-left: 0.5rem !important;
  }
  
  .ps-3 {
    padding-left: 1rem !important;
  }
  
  .ps-4 {
    padding-left: 1.5rem !important;
  }
  
  .ps-5 {
    padding-left: 3rem !important;
  }


  /* FLOATS */

  .float-start {
    float: left !important;
  }
  
  .float-end {
    float: right !important;
  }
  
  .float-none {
    float: none !important;
  }

  /* BORDERS */

  .navbar-radius {
    border-radius: 20px 20px 0px 0px;
  }

  .division-border-left {
    border-left: 3px solid #E0E0E6;
  }

  .division-border-bottom {
      border-bottom: 1px solid #BCC2C5;;
  }

  .border-r-12 {
    border-radius: 12px;
  }

  .border-blue {
    border: 1px solid #40BAFF;
  }

  .no-box-shadow {
    box-shadow: none;
  }

  .border-down-rounded {
    border-radius: 0px 0px 20px 20px;
  }

  /* DISPLAYS */

  .d-flex {
      display: flex;
  }

  .d-block {
      display: block;
  }

  .d-inline {
      display: inline;
  }

  .d-inline-block {
      display: inline-block;
  }

  .d-inline-flex {
    display: inline-flex;
}

.overflox-x-none {
  overflow-x: hidden;
}

.btn-driver{
  height: 48px;
  
  /* Blanco */
  
  background: #FFFFFF;
  /* Sombra Recuadros */
  
  box-shadow: 0px 10px 40px rgba(86, 86, 129, 0.2);
  border-radius: 12px;
}

.form-select {
    height: 40px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .form-select:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  .form-select[multiple], .form-select[size]:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
  }
  .form-select:disabled {
    background-color: #e9ecef;
  }
  .form-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #212529;
  }
  
  .form-select-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: 0.875rem;
  }
  
  .form-select-lg {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: 1.25rem;
  }

  .btn-form {
    background: #E0E0E6;
    border-radius: 20px;
    height: 40px;
  }

  .border-0 {
    border: 0 !important;
  }
  
  .w-25 {
    width: 25% !important;
  }

  .w-30 {
    width: 30% !important;
  }
  
  .w-50 {
    width: 50% !important;
  }

  .w-60 {
    width: 60% !important;
  }
  
  .w-75 {
    width: 75% !important;
  }
  
  .w-80 {
    width: 80% !important;
  }

  .w-90 {
    width: 90% !important;
  }

  .w-100 {
    width: 100% !important;
  }
  
  .w-auto {
    width: auto !important;
  }

  .card {
    background: #FFFFFF;
    /* Sombra Recuadros */
    
    box-shadow: 0px 10px 40px rgba(86, 86, 129, 0.2);
    border-radius: 12px;
  }

  .card-login {
    background: #FFFFFF;
    /* Sombra Recuadros */
    
    box-shadow: 0px 10px 40px rgba(86, 86, 129, 0.2);
    border-radius: 12px;
  }


  .input-rounded {
    height: 30px !important;
    border-radius: 12px !important;
  }

.overflow-y-auto {
  overflow-y: auto;
}
  
.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-60 {
  height: 60% !important;
}


.h-65 {
  height: 65% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.h-auto {
  height: auto !important;
}

/* CLASES LIFERAY */
.signed-in .collapse {  display:block;  }
.lfr-edit-layout-panel .collapse{  display:block; }
.dockbar.navbar-static-top .collapse {      display: block;  }
.navbar-inner .collapse{     display:block;   }
.dockbar-ready #wrapper {    margin-top: 149px; }
.dockbar-ready section#content {    padding: 0 0 0 0;  }

.dockbar.navbar-static-top {
  background-color: transparent;
  padding: 0px;
}
.dockbar-messages{  display:none;	}

.lfr-device-preview{  z-index: 1000;  }

.modal{   display:block;	}

.modal-hidden{ display:none; }
.signed-in .collapse {  display:block;  }
.lfr-edit-layout-panel .collapse{  display:block; }
.dockbar.navbar-static-top .collapse {      display: block;  }
.navbar-inner .collapse{     display:block;   }
.dockbar-ready #wrapper {    margin-top: 149px; }
.dockbar-ready section#content {    padding: 0 0 0 0;  }
 
.dockbar.navbar-static-top {
  background-color: transparent;
  padding: 0px;
}
.dockbar-messages{  display:none;	}
 
.lfr-device-preview{  z-index: 1000;  }
 
.modal{   display:block;	}
 
.modal-hidden{ display:none; }